@page "/fetchdata"
@inject HttpClient Http
@using BerekeningSpecificator.Web.Entities

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (variabelen == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach(var attribuut in variabelen.Attributen)
    {
        <span>@(attribuut.Waarde)</span>
    }
}

@code {
    private RapportVariabelen variabelen;

    protected override async Task OnInitializedAsync()
    {
        variabelen = await Http.GetFromJsonAsync<RapportVariabelen>("data/rapport.json");
    }
}
